<html>
  <head>
    <title><%= current_article.title unless current_article.nil? %></title>
    <%= partial "head" %>
    <link rel="stylesheet" href="/stylesheets/railscasts.css" type='text/css'/>
    <script src='/javascripts/highlight.min.js' type='text/javascript'></script>
    <script >hljs.initHighlightingOnLoad();</script>  


    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <%= partial "header"%>
    <div id='container'>
      <%= partial "links"%>
      <%= partial "pages", locals: {current_article: current_article}%>
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            <div class='date'><%= current_article.date.strftime('%Y %b %e') %></div>
            <%= current_article.title%>
          </h1>
          <%= yield %>
        </section>
      </div>

      <%= partial "disqus" %>
    </div>
    <%= partial "footer"%>
  </body>
</html>