<!doctype html>
<html>
  <head>
    <title>iKoALa</title>
    <%= partial "head" %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <%= partial "header"%>
    <div id="container">
      <%= partial "links"%>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <%= partial "footer" %>
    <%= partial "purechat" %>
  </body>
</html>
